	<!-- begin page content - determine container type 'container' or 'container-fluid'===full width -->
	<main role="main" class="container">
	<div style='margin-top: 80px;'><!-- dummy empty --></div>
	{{tcontent}}
	<div style='margin-top: 80px;'><!-- dummy empty --></div>
	<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Editor</h5>
        <p class="card-text">Write great articles with embedded images (drag & drop), tables, you name it!</p>
        <a href="/editor" class="btn btn-primary">Take me to the editor</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Comments</h5>
        <p class="card-text">This is the repository where you'll find all your articles. 
        Browse, read, edit or delete your work...</p>
        <a href="/comments" class="btn btn-primary">Take me to my repository</a>
      </div>
    </div>
  </div>
</div>
	<div style='margin-top: 80px;'><!-- dummy empty --></div>
	</main>